/* zajednicko za svaku stranicu */

* {
    text-align: center;
    background-color: bisque;
}
body::-webkit-scrollbar { /* Chrome, Safari, Opera */
        display: none;
}
body {
    -ms-overflow-style: none;  /* Edge */
    scrollbar-width: none;  /* Firefox */
}

/* navigacija */

ul {
    list-style-type: none;
    background-color: rgb(251, 126, 20);
    padding: 0px;
    margin: 0px;
    align-items: center;
}
li {
    display: inline-block;
}
li a {
    display: block;
    background-color: rgb(251, 126, 20);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
    min-width: 200px;
    color: rgb(255,255,255);
}
li a:hover {
    background-color: rgb(41, 41, 41);
}

/* glavni sadrzaj stranice */

#delovi img {
    width: 300px;
    padding: 0px 10px;
}
#delovi h3 {
    text-transform: uppercase;
    color: black;
}
#delovi a {
    text-decoration: none;
    color: gray;
    display: inline-block;
    text-align: center;
}
#delovi img:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

/* podnozje stranice */

footer {
    background-color: rgb(251,126,20);
    text-transform: uppercase;
    color: white;
}